@page "/handbookpage"

<PageTitle>HandbookPage</PageTitle>

<div style="border:dashed 0px;">
    <p></p>
    <h3>General Introduction</h3>
    <p>
        This app provides a bookkeeping tool that enables customers to document transactions like income and expenses and submit them to different accounts so that they can handle payments and carry out regular banking tasks.
    </p>
    <p></p>
    <h3>Edit Bill</h3>
    <p>
    The bill type can be classified according to the bill source. Daily financial activities can be broken down into various groups depending on their nature, such as salary, business costs, transportation costs, material fees, journey costs, entertainment expenditures, communication charges, courier costs, etc. Special costs can also be included, such as education fees, auditing costs, intermediary service charges, etc. Costs related to workplace premises, such as a mortgage, property taxes, water-based costs, the energy cost of being heated, etc. Amortisation costs include things like the distribution of long-term postponed expenditures as well as the devaluation of physical assets and intangible property. Inventory depreciation, real estate depreciation, intangible property depreciation, and other provisions for depreciating assets are all examples of provisions.
    </p>
    <p></p>
    <p>
    After choosing the bill type, users need to decide the direction of the money: income or payment. Users could then enter an account number, which they could choose for themselves. Finally, the user could enter all the other information associated with a bill, including the amount of the bill, the date it was issued, its summary, and any remarks. These details could be used to produce financial reports like journal reports, ledger reports, and so on.
    </p>
    <p></p>
    <h3>Search Bill</h3>
    <p>
    When a bill is finished, users could click Search button to search all the bills' information in real-time in this page.
    </p>
</div>
 


@code {  
 
}
