@page "/ledgerpage"
@using WeiFin.Data
@using WeiFin.Models
@inject BillDBService billDBService
@inject BillTypeDBService billTypeDBService
@inject NavigationManager navigationManager


<h3>Ledger Report</h3>

@code {

}
