@page "/logout"
@using WeiFin.Services
@inject NavigationManager navigationManager
@inject CustomAuthenticationStateProvider customAuthenticationStateProvider
 
<!-- this page is unused rightnow-->
<h3>Login Out</h3>

<div class="loader loader-bouncing"><span>Redirecting...</span></div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await customAuthenticationStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}