@using WeFin.Models
@inject NavigationManager navigationManager;

<!--
<div class="top-row ps-3 navbar navbar-dark" style="border:dashed 0px; background-color:red;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/login"></a>
        <button title="Navigation menu" class="navbar-toggler" style="border:dashed 0px; color:red;" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
-->

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-plus" aria-hidden="true"></span> Login In
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="billeditpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Edit Bill
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="billlistpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search Bill
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="journalpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Journal Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ledgerpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ledger Report
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="handbookpage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Handbook
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#" @onclick="SignOut">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Sign Out
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void SignOut()
    {
        SecureStorage.RemoveAll();
        Setting.UserBasicDetail = null;
        navigationManager.NavigateTo("/login");
    }
}
