@page "/handbookpage"

<PageTitle>HandbookPage</PageTitle>

<div style="border:dashed 0px;">
    <p></p>
    <h3>General Introduction</h3>
    <p>
        This app provides a bookkeeping tool that enables customers to document transactions like income and expenses and submit them to different accounts so that users can handle payments and carry out regular banking tasks.
    </p>
    <h3>Register Account</h3>
    <p>
    You can register for this application in this page. Username, password, email, and account number are all required fields on this page's account creation form.
    </p>
    <p></p>
    <h3>Log In</h3>
    <p>
     You must first input your username and password and select the relative account number before clicking the login button. You could be directed to a welcome page if the username, password, and account number all match.
    </p>
    <p></p>
    <h3>Edit Bill</h3>
    <p>
    First, it is necessary to select a bill type. After choosing the bill type, you can select the direction of the money: income or payment, and enter all the other information associated with a bill,including the amount of the bill, the date it was issued, its summary, and any remarks. Click the "Save" button to insert the bill into the database. Click the "Add" button to add a new bill. Click the "Search" button to search the information for all the bills on this account.
    </p>
    <p></p>
    <h3>Search Bill</h3>
    <p>
     Click the "Search" button to search the information for all the bills on this account.
     Click the "Delete" button at the end of the row to delete the selected bill.
    </p>
    <p></p>
    <h3>Journal Report</h3>
    <p>
    Click the "Search" button to search the journal report on this account. The journal report lists subledger journal activity for a given period or date range, journal source, entered currency, and the financial balance.
    </p>
    <p></p>
    <h3>Ledger Report</h3>
    <p>
    Click the "Search" button to search the ledger report on this account. It is a summary financial report of all the bank account interactions that occurred within the specified time frame.
    </p>
    <p></p>
</div>
 


@code {  
 
}
